html,body{
    height: 100%;
}
body{
  background-color: black;
  color: white;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  margin: 0px;
  display: grid;
  grid-template-rows: 10% 90%;
  overflow: hidden;
}
.main{
  display:grid;
  grid-template-columns:40% 60%;
}
.nav{
  font-weight: 700;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns:  10% 20% 10% 10%;
}
.nt-logo{
  height: 100%;
  width: 100%
}
.cluster-option,.search-bar{
  color: white;
  background-color: black;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  font-size: 1.8vh;
  padding: 5px;
  margin: 30px 0px 30px 5px;
  cursor: pointer;
  text-align: center;
}
.search-bar{
  cursor: text;
}

@media only screen and (max-width:900px) {
  .main{
    grid-template-columns: 100%;
    grid-template-rows:80%;
    overflow:auto;
  }
  .nav{
      grid-template-columns: 25% 35% 25%;
  }
}
@media only screen and (max-width:600px){
  svg{
    display: none
  }
}
