html,body{
    height: 100%;
}
body{
  background-color: black;
  color: white;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  margin: 0px;
  display: grid;
  grid-template-rows: 10% 90%;
  overflow: hidden;
}
.main{
  display:grid;
  grid-template-columns:40% 60%;
}
.nav{
  font-weight: 700;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns:  10% 20% 10% 10%;
}
.nt-logo{
  height: 100%;
  width: 100%
}
.cluster-option,.search-bar{
  color: white;
  background-color: black;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  font-size: 1.8vh;
  padding: 5px;
  margin: 30px 0px 30px 5px;
  cursor: pointer;
  text-align: center;
}
.search-bar{
  cursor: text;
}
.picto{
  height: 4.5vmin;
  vertical-align: -7px;
}
.cluster_button{
  font-size: 2vmin;
}
.arrow-right{
  transform: rotate(-90deg);
  margin: 25%;
  cursor: pointer;
}
#tooltip_hoverable{
    left: 96%;
    top: 4%;
    position: absolute;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    text-align: center;
}
#tooltip{
  visibility:hidden;
  position: absolute;
  background-color: rgb(74, 74, 74);
  box-shadow: -0.1em 0.1em 1.2em #9d9d9d;
  border-radius: 2%;
  justify-content: center;
  padding: 1vw;
  left: 80vw;
  width: 15vw;
  height: 50vh;
  top: 10vh;
}
#tooltip_mark{
  margin: 0px;
  font-size: 0.85vw;

}
@media only screen and (max-width:900px) {
  body{
    overflow: visible;
  }
  .main{
    grid-template-columns: 100%;
    grid-template-rows:90%;
  }
  .nav{
      grid-template-columns: 25% 25% 25% 25%;
  }
  #tooltip_hoverable{
    display: none
  }
}
@media only screen and (max-width:600px){
  svg{
    display: none
  }
}
