html,body{
    height: 100%;
}
body{
  background-color: black;
  color: white;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  margin: 0px;
  display: grid;
  grid-template-rows: 10% 90%;
  overflow: hidden;
}
.main{
  display:grid;
  grid-template-columns:45% 55%;
}
.nav{
  font-weight: 700;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns:  10% 20% 10% 10%;
}
.nt-logo{
  height: 100%;
  width: 100%
}
.cluster-option,.search-bar{
  color: white;
  background-color: black;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  font-size: 1.8vh;
  padding: 5px;
  margin: 30px 0px 30px 5px;
  cursor: pointer;
  text-align: center;
}
.search-bar{
  cursor: text;
}
.picto{
  height: 4.5vmin;
  vertical-align: -7px;
  padding-right: 2.5px;
}
.cluster_button{
  font-size: 2vmin;
}
.arrows{
  grid-area: 5 / 2;
  margin-left:25%
}
.arrow-right{
  transform: rotate(-90deg);
  cursor: pointer;
}
.arrow-left{
  transform: rotate(90deg);
  cursor: pointer;
}
.sites{
  cursor:pointer;
  text-align: center;
}
#tooltip{
    transform:translate(-30px, -35%);
    padding:5px 15px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    border-radius:5px;
    position:absolute;
    box-sizing:border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
}
#tooltip i {
    position:absolute;
    top:90%;
    left:15px;
    width:24px;
    height:24px;
    overflow:hidden;
}

#tooltip i::after {
    content:'';
    position:absolute;
    width:24px;
    height:24px;
    left: 50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#EEEEEE;
}

@media only screen and (max-width:900px) {
  body{
    overflow: visible;
  }
  .main{
    grid-template-columns: 100%;
    grid-template-rows:90%;
  }
  .nav{
      grid-template-columns: 25% 25% 25% 25%;
  }
}
@media only screen and (max-width:600px){
  svg{
    display: none
  }
}
