p{
  font-size: 1.6vh;
  cursor: pointer
}
.aheader{
  font-size: 3.5vh
}
.bheader{
  font-size: 2.5vh
}
.cheader{
  font-size: 2vh
}
.hover:hover{
  color:rgba(231,69,79,1.0);
}
.picto{
  height: 2.3vh
}
.ringe,
.ring_topics,
.ring_topic_points,
.search,
.search_topics,
.search_topic_points{
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding-top: 7.5vh;
  padding-left: 7.5vw;
}
.point_view{
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding-top: 7.5vh;
  padding-left: 7.5vw;
}
.point_view .point{
  display: grid;
  grid-template-columns: 20vw 20vw;
}
.point_view_description{
  font-size: 1.5vh;
  grid-area: 2 / 2 / 7 / 2
}
.ringe{display: grid}
