p{
  font-size: 1.7vmin;
  font-weight: 400;
  cursor: pointer;
}
.aheader{
  font-size: 4.5vmin;
  font-weight: 700;
  grid-column:1/ span 3
}
.bheader{
  font-size: 3.5vmin;
  font-weight: 700;
}
.cheader{
  font-size: 3vmin;
  font-weight: 700;
}
.dheader{
  font-size: 2.5vmin;
  font-weight: 700;
}
.hover:hover{
  color:rgba(231,69,79,1.0);
}
.picto{
  height: 3vh
}
.cluster_button{
  font-size: 2vmin;
}
.ringe,
.ring_topics div,
div[class^='ring_topic_points_'],
.cluster,
.cluster_rings div,
.cluster_viewable,
div[class^="cluster_view_div"],
.search,
.search_topics,
.search_topic_points
{
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 0.75vh;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-bottom: 5vh;
}
/*Specialrules*/
div[class^='ring_topic_points_'] .aheader,
.cluster_viewable .aheader{
  grid-column: 1 / span 4
}
.topics_holder,
.rings_holder{
  text-align: end;
  grid-area: 2 / 4 / 5 / 4;
  padding-right: 1vw
}
.point_view{
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding-top: 5vh;
  padding-left: 5vw;
}
.point_view .point{
  display: grid;
  grid-template-columns: 50% 50%;
}
.info_section{
  font-size: 2vh;
}
.point_view_description{
  font-size: 2vh;
  margin-right: 1vw;
  grid-area: 2 / 2 / 7 / 2
}
@media only screen and (max-width:900px){
  .ringe,
  .ring_topics div,
  div[class^='ring_topic_points_'],
  .cluster,
  .cluster_rings div,
  .cluster_viewable,
  .search,
  .search_topics,
  .search_topic_points
  {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1vh;
    padding-top: 3.5vh;
    padding:2vw;
    text-align: center;
  }
  .topics_holder{
    grid-area: 2 / 1 / 4 / 2;
  }
  .aheader{
    grid-column: 1 / span 2
  }
}
